<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dm.digidonors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiDonors"
        android:usesCleartextTraffic="true">
        <activity android:name=".Home.NgoDetailsActivity"></activity>
        <activity android:name=".MyDonation.MyDonationsActivity" />
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.HowWeWork" />
        <activity android:name=".Home.DonateActivity" />
        <activity android:name=".Home.DashBoardActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.SelectSlotForDonationActivity" />
        <activity android:name=".Home.FinalActivity" />
        <activity android:name=".Home.SelectTimeAndDate" />
        <activity android:name=".Home.AddNewAddress" />
        <activity android:name=".Home.UserAddressActivity" />
        <activity android:name=".Login.VerifyOtp" />
        <activity android:name=".Webinar.WebinarDetailsActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>